<script type="text/template" id="item-template">
  <div class="cart-item item">
    <img class="image"></img><br>
    <div class="cart-item-info">
      <div class="name"></div>
      <h4 class="price"></h4>
      <div class="cart-item-adjust">
        <div class="quantity-fram">
          <div class="minus">-</div><div class="quantity"></div><div class="add">+</div>
        </div>
        <button class="delete-item">Delete</button>
      </div>
    </div>
  </div>
</script>