/* product */

#content {
  margin-top: 72px;
}

.product-box {
  display: inline-block;
  padding: 5px 20px;
  margin: 20px;
}

.product-box img {
  width: 80px;
}

.product-box img:hover {
  background-color: #eee
}

.description {
  padding: 10px;
  background-color: #eee;
  font-size: 14px;
  width: 50%;
}

/* cart */

#product-list {
  width: calc( 100% - 280px);
  text-align: center;
}

#cart-list > #my-cart {
  position: absolute;
  top: 72px;
  right: 0;
  border-left: 1px solid #bbb;
  padding: 15px;
  width: 280px;
  height: 100vh;
  float: right;
  background-color: #fff;
}

.cart-side-btn {
  cursor: pointer;
  position: absolute;
  top: 35px;
  right: 230px;
  padding: 15px;
  float: right;
}

.item {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 15px;
}

.cart-item img {
  width: 75px;
}

.cart-item-info h5 {
  margin-top: 0px;
  margin-bottom: 5px;
}

.subtotal {
  display: flex;
  justify-content: space-around;
  font-weight: 800;
}

.quantity-fram {
  background-color: #DDDDDD; 
  display: inline-flex;
  justify-content: space-around; 
  font-size: 16px;
  width: 75px;
}

.add, .minus{
  cursor: pointer;
}

.product-show-button{
  float: right;
  margin: 50px 0px 0px 0px;
}

table td {
  vertical-align: middle !important;
}

thead, tbody {
  border-bottom: 1px solid #bbb;
}

.zoom-in {
  cursor: zoom-in;
}